@charset utf-8;

@font-face{
	font-family:'nanumBarun';
    font-style:normal;
    font-weight:300;
	src:url('../fonts/NanumBarunGothicLight.eot');
	src:url('../fonts/NanumBarunGothicLight.woff') format('woff'),
	url('../fonts/NanumBarunGothicLight.ttf') format('true type');
}
@font-face{
	font-family:'nanumBarun';
    font-style:normal;
    font-weight:400;
	src:url('../fonts/NanumBarunGothic.eot');
	src:url('../fonts/NanumBarunGothic.woff') format('woff'),
	url('../fonts/NanumBarunGothic.ttf') format('true type');
}
@font-face{
	font-family:'nanumBarun';
    font-style:normal;
    font-weight:700;
	src:url('../fonts/NanumBarunGothicBold.eot');
	src:url('../fonts/NanumBarunGothicBold.woff') format('woff'),
	url('../fonts/NanumBarunGothicBold.ttf') format('true type');
}


/* edit 160511 hsh */
html {overflow:auto;} /*ie7 세로스크롤 제거 */
html, body, p, div, ul, ol, li, dl, dt, dd, form, table, th, td, fieldset, input, textarea, select, button, h1, h2, h3, h4, h5, h6, pre
{margin:0; padding:0; }
html,body{width:100%; height:100%;}
body { font-family:'nanumBarun','Apple SD Gothic Neo','Dotum',sans-serif; font-size:13px; line-height:1.5;}
input, textarea, select, button {font-size:12px; color:#666; font-family:'nanumBarun','Apple SD Gothic Neo','Dotum',sans-serif;}
strong,b { font-weight:700; }
h1,h2,h3,h4,h5,h6{ font-weight:normal; font-size:100%; }
fieldset, img, input{border:0; vertical-align:middle;}
img {-ms-interpolation-mode:bicubic !important;}
table {border-collapse:collapse;}
legend {position:absolute; overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0; }
caption {visibility:hidden; overflow:hidden; width:0;height:0;font-size:0;line-height:0;}
ul, ol {list-style:none !important;}
a{color:#555; text-decoration:none;}
a:hover{color:#b3070d; text-decoration:none;}
em,address{font-style:normal;}
button,label{cursor:pointer; cursor:hand;}
button {position:relative;}
button img{left:-3px; *left:auto;}
textarea{overflow:auto;}
option{padding-right:6px;}

.none {border:none !important;}

table.bdbn{border-bottom:none !important;}
table.bdtn{border-top:none !important;}
table.bdb {border-bottom:2px solid #cbc1b7 !important;}
.clear {clear:both !important;}
.pointer{cursor:pointer !important;}


input[type=text] { border:solid 1px #cecece;  padding:2px; background:#fafafa;}
input[type=password] { border:solid 1px #cecece;   background:#fafafa;}
input[type=checkbox] { vertical-align:middle;}
#footer select { border:solid 1px #cecece; padding:7px; background:#ededed; vertical-align:middle;}
textarea { border:solid 1px #cecece; padding:3px;}




/* float */
.f_l {float:left !important; display:inline-block;}
.f_r {float:right !important;display:inline-block;}


/*텍스트 정렬*/
.text_r {text-align:right !important;}
.text_c {text-align:center !important;}
.text_l {text-align:left !important;}

.text_t {vertical-align:top !important;}
.text_m {vertical-align:middle !important;}
.text_b {vertical-align:bottom !important;}

/*가운데 버튼*/
.ct_btn_01 { width:145px; margin:0 auto; margin-top:10px; margin-bottom:20px; }
.img_middle { vertical-align: middle; }


/* font-size */
.font_14 { font-size:14px; }


.diplay_n { display:none; }


/* margin */
.mt_0 { margin-top: 0px !important;}
.mt_5 { margin-top: 5px !important;}
.mt_10 { margin-top: 10px !important;}
.mt_15 { margin-top: 15px !important;}
.mt_20 { margin-top: 20px !important;}
.mt_25 { margin-top: 25px !important;}
.mt_30 { margin-top: 30px !important;}
.mt_35 { margin-top: 35px !important;}
.mt_40 { margin-top: 40px !important;}
.mt_45 { margin-top: 45px !important;}
.mt_50 { margin-top: 50px !important;}
.mt_60 { margin-top: 60px !important;}
.mt_70 { margin-top: 70px !important;}


.ml_0 { margin-left:0px !important;}
.ml_5 { margin-left:5px !important;}
.ml_10 { margin-left:10px !important;}
.ml_15 { margin-left:15px !important;}
.ml_18 { margin-left:18px !important;}
.ml_20 { margin-left:20px !important;}
.ml_25 { margin-left:25px !important;}
.ml_30 { margin-left:30px !important;}
.ml_35 { margin-left:35px !important;}
.ml_40 { margin-left:40px !important;}
.ml_45 { margin-left:45px !important;}
.ml_50 { margin-left:50px !important;}
.ml_60 { margin-left:60px !important;}
.ml_70 { margin-left:70px !important;}
.ml_80 { margin-left:80px !important;}

.mr_1 { margin-right:1px !important;}
.mr_5 { margin-right:5px !important;}
.mr_7 { margin-right:7px !important; ()margin-right:0px !important;}
.mr_10 { margin-right:10px !important;}
.mr_15 { margin-right:15px !important;}
.mr_18 { margin-right:18px !important;}
.mr_20 { margin-right:20px !important;}
.mr_30 { margin-right:30px !important;}
.mr_40 { margin-right:40px !important;}
.mr_50 { margin-right:50px !important;}


.mb_5 { margin-bottom:5px !important;}
.mb_10 { margin-bottom:10px !important;}
.mb_15 { margin-bottom:15px !important;}
.mb_20 { margin-bottom:20px !important;}
.mb_30 { margin-bottom:30px !important;}
.mb_40 { margin-bottom:40px !important;}
.mb_50 { margin-bottom:50px !important;}
.mb_100 { margin-bottom:100px !important;}


/*너비지정*/
.wd180 {width:189px !important;}
.wd880 {width:880px !important; *width:861px !important;}


/*텍스트컬러*/
.stext01 {color:#ff6633 !important;}
.stext02 {font-size:12px; font-weight:normal; color:#888;}
.stext03 {color:#ff0000 !important;}
.tb_text_box { font-size:12px !important; color:#666; }

.stext_bold { font-weight:bold; }


/* input */

input.in_01 { width:248px; }
input.in_02 { width:128px; }

select.se_01 { width:264px; }


input.p_10 { width:10% !important; }
input.p_20 { width:20% !important; }
input.p_30 { width:30% !important; }
input.p_40 { width:40% !important; }
input.p_50 { width:50% !important; }
input.p_60 { width:60% !important; }
input.p_70 { width:70% !important; }
input.p_80 { width:80% !important; }
input.p_90 { width:90% !important; }
input.p_100 { width:100% !important; }

input.w_40 { width:40px !important; }
input.w_100 { width:100px !important; }
input.w_600 { width:608px !important; }
textarea.w_600 { width:615px !important; height:200px; }

textarea.p_90 { width:90% !important; margin:5px 0; }
