@charset utf-8;
@import  "common.css";
@import  "style.css";


/*body.main {overflow:hidden;}*/


/*****레이아웃*****/
#wrap {position:absolute; left:0px; top:0px; width:100%; min-width:1000px; z-index:10;}
#head {width:100%; z-index:10;}
#visual_icon {margin-top: 420px;
  text-align: center;
  position: absolute;
    background:url('../images/n_main/visual_icon_sun.png') 5px center no-repeat;
}
#main_contents {width: 240px;
  /* margin: 0 auto; */
  position: absolute;
margin: 500px 0 0 730px;
}
.visual_maincon01 {
    position: absolute;
    background:url('../images/n_main/new_sobg01.png') 0 0 no-repeat;
    margin: 35px 0 0 714px;
    width: 249px;
    height: 197px;
}
.visual_maincon02 {
    position: absolute;
    background:url('../images/n_main/new_sobg02.png') 0 0 no-repeat;
    margin: 203px 0 0 714px;
    width: 249px;
    height: 279px;
}
.visual_maincon03 {
    position: absolute;
    background:url('../images/n_main/new_sobg03.png') 0 0 no-repeat;
    margin: 481px 0 0 714px;
    width: 249px;
    height: 175px;
}

.visual_maincon04 {
    position: absolute;
    margin: 680px 0 0 40px;
    width: 200px;
}
.visual_maincon05 {
    position: absolute;
    margin: 680px 0 0 290px;
    width: 200px;
}
.visual_maincon06 {
    position: absolute;
    margin: 680px 0 0 540px;
    width: 200px;
}
.visual_maincon07 {
    position: absolute;
    margin: 680px 0 0 780px;
    width: 200px;
}
.visualp01{
    text-align: center;
  font-weight: bold;
  line-height: 40px;
}
.visualp02{
    text-align: center;
}
.visualp03{
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}
.visualp04{
    color: #fff;
}
.mainbbs01{
    font-size: 14px;
    color: #000;
    margin-right: 20px;
    font-weight: bold;
}
.mainbbs02{
    font-size: 14px;
    color: #999;
    margin-right: 20px;
    font-weight: bold;
}
/* #footer {height:105px; margin-top:15px; background:url('../images/n_common/footer_bg.png') 0 0 repeat-x; } */
#visual_icon a img{
    vertical-align: middle;
    margin: 0 30px 0 0px;
}

/* main */
.main_content{overflow:hidden;position:relative;z-index:200;height:790px;margin-bottom:-80px;font-size:0; text-align:center; background:url('../images/bg_main_content.jpg') no-repeat; background-size:cover;}
.main_content:before,
.main_content:after{display:inline-block;height:100%;content:'';vertical-align:middle;}

/* 모집공고 */
.main_recruit{position:absolute;top:25px;right:50%;width:637px;height:420px;margin-right:-480px;background:url('../images/bg_recruit.jpg') left bottom no-repeat; background-color:#fff;font-size:13px; }
.main_recruit:after{display:block;clear:both;content:'';}

.recruit_list{ box-sizing:border-box;position:absolute; top:0; right:0; bottom:0; width:110px; padding:20px 0px;border-left:1px solid #dadada; }
.recruit_list li { text-align:center; color:#333;}
.recruit_list li>a {position:relative; z-index:1; display:block; height:50px;font-size:18px; line-height:50px;color:inherit;}
.recruit_list li.js_on {color:#fff;}
.recruit_list li.js_on>a{}
.recruit_list li.js_on>a:after{position:absolute;top:3px; right:-10px; z-index:-1;display:block; width:144px; height:53px; background-image:url('../images/bg_recruit_lst.png'); content:'';}

.recruit_box{float:left;width:83%; padding:55px;text-align:left; box-sizing:border-box;}
.recruit_content{display:none;}
.recruit_content.js_on{display:block;}
.recruit_content h3{font-size:22px; font-weight:700;margin-bottom:10px;}
.recruit_content dl{font-size:14px;color:#333; }
.recruit_content dt{clear:both;float:left;margin-right:4px;font-weight:700;color:inherit;font-size:inherit;}
.recruit_content dd{overflow:hidden;font-weight:200;}
.recruit_content dt+dd+dt,
.recruit_content dt+dd+dt+dd { margin-top:10px; }
.recruit_content .recruit_btn{position:relative;display:inline-block; width:110px; margin-top:30px;padding:8px 15px; border:1px solid #c6c6c6; background-color:#fff; font-size:14px; color:#666; box-sizing:border-box;}
.recruit_content .recruit_btn:after{position:absolute;top:-1px;bottom:0; right:15px;display:block; width:5px; height:9px; margin:auto 0;background-image:url('../images/icon_recruit.png');content:'';}


/* 메인 컨텐츠 메뉴 */
.main_item {overflow:hidden;box-sizing:border-box;display:inline-block;position:relative;width:314px; height:230px; margin:25px 5px 25px 5px; padding:0px; border:none; background-color:#000; background-color:rgba(0,0,0,0.6); font-size:13px; text-align:left; vertical-align:middle;}
.main_item.nth_1{height:740px;background-color:#fff;padding:40px 20px; border:1px solid #c5c5c5;}
.main_item.nth_2 .main_menu>h2:before{background-position:-65px 0px;}
.main_item.nth_3 .main_menu>h2:before{background-position:-130px 0px;}
.main_item.another{vertical-align:bottom;}
.main_item.another.nth_1{height:740px;background-color:#fff;padding:40px 20px; border:1px solid #c5c5c5;}
.main_item.another.nth_1 .main_column{display:block;}
.main_item.another.nth_1 .main_menu{display:none;}
.main_item.another .main_tit:before{margin-top:80px;}
.main_item.another.nth_2,
.main_item.another.nth_3{height:310px;}

.main_recruit~.main_item{vertical-align:bottom;}
.main_recruit~.main_item.nth_1 .main_column{display:block;}
.main_recruit~.main_item.nth_1 .main_menu{display:none;}
.main_recruit~.main_item.nth_2,
.main_recruit~.main_item.nth_3{height:310px;}

.main_item.nth_1 .main_column{display:block;}
.main_item.nth_1 .main_menu{display:none;}

.main_menu{text-align:center;}
.main_menu>h2{margin-bottom:20px; font-size:22px; color:#fff;}
.main_menu>h2:before{display:block;width:65px; height:51px; background:url('../images/main_icon_set.png') center center;margin:35px auto 20px auto;content:'';}
.main_menu>h2:after{display:block; width:26px; height:0px; border-top:1px solid #fff; margin:15px auto 0px auto; content:'';}
.main_menu>p{font-size:14px; font-weight:200; color:#fff;}
.main_menu>a {display:none;position:absolute;top:0;right:0;bottom:0;left:0;text-indent:-999em;}
.main_recruit~.main_item .main_menu>a {display:block;}

.main_column {display:none;}
.main_column:first-child { margin-left:0; }
.main_column>h2 { margin-bottom:30px; font-size:22px; line-height:1; font-weight:600; }
.main_column>h2:before { display:block; width:30px; margin-bottom:16px; border-top:3px solid #1e58ca; content:''; }

/* 메인 게시판 */
.main_board { position:relative; }
.main_board>h3 { margin-bottom:15px; padding-bottom:12px; border-bottom:1px solid #ababab; font-size:16px; line-height:1.1; font-weight:600; color:#333; }
.main_board>ul { line-height:1; }
.main_board>ul>li { position:relative; margin-top:14px; color:#666; }
.main_board>ul>li:first-child { margin-top:0; }
.main_board>ul>li>a { display:block; overflow:hidden; padding-right:6.5em; white-space:nowrap; text-overflow:ellipsis; color:inherit; }
.main_board>ul>li>a:hover:after,
.main_board>ul>li>a:focus:after { position:absolute; left:0; right:0; bottom:-1px;  border-bottom:1px solid #666; content:'';  }
.main_board>ul>li .date { position:absolute; right:0; top:0; }
.main_board .more { position:absolute; top:0; right:-6px; width:20px; height:20px; text-indent:-999em; }
.main_board .more:before,
.main_board .more:after { position:absolute; left:0; top:0; right:0; bottom:0; margin:auto; width:0; height:0; border-width:0; border-style:solid; border-color:#a1a1a1; content:''; }
.main_board .more:before { border-left-width:2px; height:8px;  }
.main_board .more:after { border-top-width:2px; width:8px;  }

/* 입학도우미 바로가기 */
.main_quick>h3 { position:absolute; overflow:hidden; width:0; height:0; }
.main_quick>ul { overflow:hidden; margin-top:-10px; margin-left:-10px; }
.main_quick>ul>li { overflow:hidden; box-sizing:border-box; float:left; position:relative; width:50%; padding-left:10px; height:0; padding-bottom:50%; }
.main_quick>ul>li>a { position:absolute; top:10px; left:10px; right:0; bottom:0; background-color:#1788f1; color:#fff; text-align:center; line-height:1; font-size:14px; }
.main_quick>ul>li>a:before { display:block; width:50px; height:50px; margin:32px auto 20px; background:url(../images/main_2016/main_quick_ico.png) no-repeat; content:''; }
.main_quick>ul>.list_item_2 a,
.main_quick>ul>.list_item_3 a { background-color:#1e58ca; }
.main_quick>ul>.list_item_2 a:before { background-position:-50px 0; }
.main_quick>ul>.list_item_3 a:before { background-position:-100px 0; }
.main_quick>ul>.list_item_4 a:before { background-position:-150px 0; }

/* 전형안내 */
.main_type_visual { position:relative; }
.main_type_visual img { max-width:100%; }
.main_type_visual p { position:absolute; bottom:0; left:0; right:0; padding:10px; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpiYGBgmAkQYAAAngCaoMXLCwAAAABJRU5ErkJggg==); font-size:16px; color:#fff; line-height:1.5; text-align:center; }

.main_type_list { }
.main_type_list+.main_type_list { margin-top:20px; padding-top:20px; border-top:1px dashed #c9c9c9; }
.main_type_list>h3 { display:inline-block; margin-bottom:14px; padding:0 14px; height:26px; line-height:26px; font-size:16px; font-weight:bold; background-color:#1788f1; color:#fff; }
.main_type_list.even>h3 { background-color:#1e58ca; }
.main_type_list>ul { margin-left:-5px; }
.main_type_list>ul>li { display:table-cell; width:1%; padding-left:5px; }
.main_type_list>ul>li>a { box-sizing:border-box; display:block; width:100%; line-height:28px; border:1px solid #b3b3b3; background-color:#fff; font-size:14px; text-align:center; color:#333; }

/* 대학소개 */
.main_type_info li{position:relative;height:48px; border-bottom:1px solid #dbdbdb; line-height:48px;}
.main_type_info li>a {display:block;padding:0px 27px; font-size:16px; font-weight:bold; color:#333;}
.main_type_info li>a:before{position:absolute;top:0;bottom:5px;left:10px; display:block; width:4px; height:0; margin: auto 0px;border-top:4px solid #1e58ca; content:'';}
.main_type_info li>a:after{position:absolute;top:0;bottom:0;right:10px; display:block; width:16px; height:16px; margin: auto 0px; background:url('../images/bg_list_btn.png'); content:'';}


.main_cont {height:827px; background:url(../images/bg_main_content.jpg) no-repeat top center;}
.main_cont .main_container {width:960px; margin:0 auto 0 auto; background:url(../images/bg_main_cont_top.gif) repeat-x top; position:relative; top:305px; text-align:left; padding-top:4px;}
.main_container .info_area {width:973px; margin-left:-13px; overflow:hidden;}
.info_area .info_recruit {float:left; width:735px; height:296px; overflow:hidden; background:url(../images/bg_lst01.png) repeat-y left; position:relative;}
.info_area .info_recruit > ul {float:left; width:148px; padding-top:17px;}
.info_area .info_recruit > ul > li {height:44px; padding-bottom:13px; margin-top:-13px;}
.info_area .info_recruit > ul > li:first-child {margin-top:0;}
.info_area .info_recruit > ul > li:hover {background:url(../images/bg_recruit_lst.png) no-repeat;}
.info_area .info_recruit > ul > li.on {background:url(../images/bg_recruit_lst.png) no-repeat;}
.info_area .info_recruit > ul > li > a {color:#333; font-size:18px; display:block; padding-left:37px; height:44px; line-height:44px;}
.info_area .info_recruit > ul > li:hover > a {color:#fff;}
.info_area .info_recruit > ul > li.on > a {color:#fff;}
.info_area .info_recruit > ul > li div {display:none;}
.info_area .info_recruit > ul > li.on div {display:block;}
.info_area .info_recruit > ul > li div {position:absolute; top:31px; left:169px; width:546px; height:228px; background:url(../images/bg_recruit.jpg) no-repeat right bottom;}
.info_area .info_recruit > ul > li div > p {font-size:20px; color:#333; margin-top:0; padding-bottom:8px;}
.info_area .info_recruit > ul > li div ul li {font-size:16px; color:#666; margin-top:2px;}
.info_area .info_recruit > ul > li div > a {position:absolute; left:0; bottom:9px; display:block; width:95px; height:36px; line-height:36px; padding-left:15px; background:url(../images/bg_btn_detail.gif) no-repeat; font-size:14px; }

.info_area .info_link {float:left; width:238px; height:296px; background:#fff;}
.info_area .info_link p {font-size:22px; color:#333; padding-left:19px; height:79px; line-height:79px; margin-top:0; font-family:'arial',sans-serif; }
.info_area .info_link .kbu_link {position:relative; width:213px; height:180px; padding-left:10px; border-left:1px solid #dadada; background:url(../images/bg_recruit02.gif) no-repeat 10px top;}
.info_area .info_link .kbu_link a {position:absolute; display:block; width:100px; text-align:center; font-size:14px; }
.info_area .info_link .kbu_link a.kbu_btn1 {top:1px; left:10px; padding-top:46px; background:url(../images/ico_link01.gif) no-repeat center top;}
.info_area .info_link .kbu_link a.kbu_btn2 {top:-2px; left:122px; padding-top:51px; background:url(../images/ico_link02.gif) no-repeat center top;}
.info_area .info_link .kbu_link a.kbu_btn3 {top:104px; left:13px; padding-top:51px; background:url(../images/ico_link03.gif) no-repeat center top;}
.info_area .info_link .kbu_link a.kbu_btn4 {top:101px; left:124px; padding-top:54px; background:url(../images/ico_link04.gif) no-repeat center top;}

.link_area {overflow:hidden; margin-top:12px;}
.link_area li {float:left; margin-left:12px;}
.link_area li:first-child {margin-left:0;}
.link_area li a {color:#fff; width:201px; height:140px; padding:30px 0 0 30px; display:block;}
.link_area li.sub_link1 a {background:url(../images/bg_sublink01.gif) no-repeat;}
.link_area li.sub_link2 a {background:url(../images/bg_sublink02.gif) no-repeat;}
.link_area li.sub_link3 a {background:url(../images/bg_sublink03.gif) no-repeat;}
.link_area li.sub_link4 a {background:url(../images/bg_sublink04.gif) no-repeat;}
.link_area li a .tit {display:block; font-size:20px;}
.link_area li a .txt {display:block; font-size:13px; line-height:22px; padding-top:14px;}

/* head */
#head .util {background:url('../images/n_common/top_bg.png') 0 0 repeat;z-index:10; }
#head .util .util_box {width:960px; margin:0 auto; text-align:right; line-height:29px; z-index:10;}
#head .gnb {position:relative; background:url('../images/n_common/gnb_bg.png') 0 0 repeat; }
#head .gnb .gnb_box {width:960px; margin:0 auto; text-align:left; height:60px; overflow:hidden; }
#head .gnb .gnb_box .logo {float:left; padding:8px 0 0 0; }
#head .gnb .gnb_box .gnb_menu {float:right; }
#head .gnb .gnb_box .gnb_menu a {display:inline-block;   margin-right:-5px; }
/*#head .gnb .gnb_box .gnb_menu a {display:inline-block;  padding:23px 19px; margin-right:-5px;  }*/
#head .gnb .gnb_box .gnb_menu a.select {background:url('../images/n_common/gnb_select_bg.png') 0 0 repeat;  }
#head .gnb .gnb_box .gnb_menu a:hover {background:url('../images/n_common/gnb_over_bg.png') 0 0 repeat;  }

.gnb_sub {display:none; width:100%; position:absolute; *left:0; background:url('../images/n_common/gnb_over_bg.png') 0 0 repeat; height:35px; z-index: 999;}
.gnb_sub .gnb_sub_box {width:960px;  margin:0 auto;  }
.gnb_sub .gnb_sub_box .one a{font-size:13px; margin-right:20px; min-width:50px; float:left; margin-top:8px; color: #fff;  }
.gnb_sub .gnb_sub_box .one a:last-child {font-size:13px; margin-right:0; min-width:50px; float:left; margin-top:8px;  }

/*
.gnb_sub .gnb_sub_box {position:absolute;  margin:0 auto; text-align:left; display:none; }
.gnb_sub .gnb_sub_box a{font-size:13px; margin-right:25px; min-width:50px; float:left; margin-top:8px; }
*/

/*
#gnb_sub_1 {padding-left:40px;}
#gnb_sub_2 {padding-left:95px;}
#gnb_sub_3 {padding-left:230px;}
#gnb_sub_4 {padding-left:370px;}
#gnb_sub_5 {padding-left:380px;}
#gnb_sub_6 {padding-left:400px;}
#gnb_sub_7 {padding-left:330px;}
*/

/* main contents */
#main_contents ul li {float:left; }
#main_contents ul li.bbs {overflow: hidden;
  /* background: url('../images/n_main/bbs_bg.png') 0 0 repeat; */
  width: 218px;}
#main_contents ul li.bbs .tab { }
#main_contents ul li.bbs .tab .on {width:50%; display:inline-block; padding:11px 0; }
#main_contents ul li.bbs .tab .off {width:50%; display:inline-block; padding:11px 0; background:#a3937f; }

.main_bbs_list {width:218px; margin:0 auto; margin-top:10px; height:100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.main_bbs_list td {color:#666; font-size:12px; border-bottom:solid 0px #b7b7b7; line-height:32px; text-align:left;  }
.main_bbs_list td.end {border:0; }



/* title */
.st h1 {font-size:24px; font-weight:700; color:#333;line-height:28px; }
.st p {margin:5px 0 0 0; padding:0; color:#999; font-weight:300; }

/* LEFT MENU */
.left_menu{margin-top:-15px}
.left_menu_box {width:217px; margin-top:-58px;}
.left_menu_box a {display:block; border-bottom:solid 1px #e5e5e5; line-height:39px; font-size:14px; font-weight:400; padding-left:14px; color:#666;}
.left_menu_box a:hover { background-color:#f7f7f7; color:#324184; }
.left_menu_box a.select {background-color:#f7f7f7; color:#324184; font-weight:700; }


/* table */
.list_01 {width:100%;  }
.list_01 th {background:#324184; line-height:33px; color:#fff; font-weight:600; text-align:center; }
.list_01 td {text-align:center; padding:7px 0; border-bottom:solid 1px #ccc; }
.list_01 td.subject {text-align:left; padding-left:10px; }
.list_01 td a {color:#666; }
.list_01 td a:hover {color:#ff6600; }

.tb_view_01 {width:100%; border-top:solid 2px #324184; font-size:12px; }
.tb_view_01 th {background:url('../images/common/tb_th_line.png') no-repeat right center; font-weight:normal; line-height:49px; border-bottom:solid 1px #bfbfbf; color:#333; }
.tb_view_01 th.tl {background:url('../images/common/tb_th_line.png') no-repeat right center; font-weight:normal; line-height:35px; border-bottom:solid 1px #bfbfbf; color:#333; }
.tb_view_01 th.subject {text-align:left; padding-left:10px; font-size:16px; background:none; }
.tb_view_01 th.end {background:none; }
.tb_view_01 th.txt { line-height:35px; text-align:left; padding-left:15px; background:none; }
.tb_view_01 td { border-bottom:solid 1px #d2d2d2; color:#666; padding: 20px 10px; text-align:left;  }
.tb_view_01 td img {float:left; }
.tb_view_01 th.subject_answer {text-align:left; padding-left:10px; font-size:16px; background:#b8e0ff;}
.tb_view_01 td.answer { background:#f4f4f4; font-size:13px; color:#333; padding: 20px 20px;  }
.tb_view_01 td table td {padding:0; background:#eee; }



/*표*/
.tb_table {width:100%;border-top:2px solid #324184;}
.tb_table th{height:29px;text-align:center;border-bottom:1px solid #dcdcdc;background-color:#f8f8f8;;border-right:solid 1px #dcdcdc;}
.tb_table td{font-size:12px; text-align:left; border-bottom:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; padding:7px 10px;}
.tb_table td.subject {text-align:center; padding:7px 0; font-weight:600; }
.tb_table th:last-child {border-right:0; }
.tb_table td:last-child {border-right:0; }
.tb_table th.last_line {border-right:solid 1px #dcdcdc; }
.tb_table td.last_line {border-right:solid 1px #dcdcdc; }

.tb_table_02 {width:100%;border-top:2px solid #324184;}
.tb_table_02 th{height:29px;text-align:center;border-bottom:1px solid #dcdcdc;background-color:#f8f8f8;;border-right:solid 1px #dcdcdc;}
.tb_table_02 td{font-size:12px; text-align:center; border-bottom:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; padding:7px 0;}
.tb_table_02 td.subject {text-align:center; padding:7px 0; font-weight:600; }
.tb_table_02 td.left {text-align:left; padding:7px 10px; }
.tb_table_02 th:last-child {border-right:0; }
.tb_table_02 td:last-child {border-right:0; }
.tb_table_02 th.last_line {border-right:solid 1px #dcdcdc; }



/* 리스트 검색 */
.con_search {margin-bottom:10px; }
.con_search select {height:28px;  border:solid 1px #d2d2d2; vertical-align:middle; }
.con_search input {padding:7px 0; width:200px; vertical-align:middle; }
.con_search a {margin-left:-6px; }


/* paging */
.paging {text-align:center; margin-top:30px;  font-weight:bold;  }
.paging a span {display:inline-block; padding:4px 8px 5px 8px; margin:0 2px; line-height:14px; font-size:12px; border:solid 1px #dbdbdb; color:#666 !important;}
.paging a.on span{  border:solid 1px #324184;  color:#324184 !important;}
.paging img {*margin-top:-9px; }




/* 버튼 */
.btn_right {text-align:right; }
.btn_center {text-align:center; }
a.btn_list_01 {display:inline-block; margin-top:20px; background:#324184; color:#fff; font-size:12px; padding:7px 20px; }
a.btn_list_02 {display:inline-block; margin-top:20px; background:#444; color:#fff; font-size:12px; padding:7px 20px; }
a.btn_search {margin-top:20px; background:#484848; color:#fff; font-size:12px; padding:8px 10px 8px 10px; vertical-align:middle; }



/* 탭 */
/*.tab_01 {width:100%; border-bottom:solid 1px #d2d2d2; font-weight:600; font-size:12px; }*/
/*.tab_01 a {display:inline-block; background:url('../images/n_common/tab_01_off.jpg') no-repeat 0 0; width:135px; line-height:28px; color:#666; text-align:center; margin-bottom:-1px; margin-right:-2px;  }*/
/*.tab_01 a.select {display:inline-block; background:url('../images/n_common/tab_01_on.jpg') no-repeat 0 0; width:135px; line-height:28px; color:rgb(75, 179, 178); text-align:center; margin-bottom:-1px;  }*/
.tab_01 { display:table; margin-bottom:20px; border-right:1px solid #e5e5e5; }
.tab_01 a { position:relative;box-sizing:border-box; display:table-cell; width:1%; height:40px; text-align:center; vertical-align:middle; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#f7f7f7; }
.tab_01 a:before,
.tab_01 a:after { position:absolute; bottom:10px; height:18px; margin:auto; border-left:1px solid #e5e5e5; content:''; }
.tab_01 a:before { left:0px; }
.tab_01 a:after { right:-1px; z-index:1; }
.tab_01 a:first-child:before { position:absolute; height:39px; bottom:0; border-left:1px solid #e5e5e5; content:''; }
.tab_01 a.select {z-index:10; border-width:3px 0 0; border-style:solid; border-color:#324184 #e5e5e5 transparent; background-color:#fff; padding-bottom:3px;}
.tab_01 a.select:before,
.tab_01 a.select:after { bottom:0; height:39px; border-color:#e5e5e5; }



/* 학과소개 */
.dep_01_02 {margin-top:10px; background:url('../images/department/dep_01_02.jpg') no-repeat 0 0; padding:90px 10px 10px 0; text-align:right; color:#fff; }
.dep_01_03 {background:url('../images/department/dep_01_03.jpg') no-repeat right 0; padding:30px 0 0 0; text-align:left; color:#666; min-height:570px; }
.dep_01_03 p.text_01 {width:470px; font-size:14px; line-height:24px; }
.dep_01_03 p.text_02 {width:470px; margin-top:30px; line-height:22px; }
.dep_01_03 p.text_02 span {background:url('../images/department/bl_01.jpg') no-repeat 0 center; padding-left:15px; font-size:18px; }

.dep_02_02 {margin-top:10px; background:url('../images/department/dep_02_02.jpg') no-repeat 0 0; padding:100px 10px 10px 0; text-align:right; color:#fff; }
.dep_02_03 {background:url('../images/department/dep_02_03.jpg') no-repeat right 0; padding:30px 0 0 0; text-align:left; color:#666; min-height:570px; }
.dep_02_03 p.text_01 {width:470px; font-size:14px; line-height:24px; }
.dep_02_03 p.text_02 {width:470px; margin-top:30px; line-height:22px; }
.dep_02_03 p.text_02 span {background:url('../images/department/bl_01.jpg') no-repeat 0 center; padding-left:15px; font-size:18px; }

.dep_03_02 {margin-top:10px; background:url('../images/department/dep_03_02.jpg') no-repeat 0 0; padding:110px 10px 10px 0; text-align:right; color:#fff; }
.dep_03_03 {background:url('../images/department/dep_03_03.jpg') no-repeat right 0; padding:30px 0 0 0; text-align:left; color:#666; min-height:570px; }
.dep_03_03 p.text_01 {width:470px; font-size:14px; line-height:24px; }
.dep_03_03 p.text_02 {width:470px; margin-top:30px; line-height:22px; }
.dep_03_03 p.text_02 span {background:url('../images/department/bl_01.jpg') no-repeat 0 center; padding-left:15px; font-size:18px; }

.dep_04_02 {margin-top:10px; background:url('../images/department/dep_04_02.jpg') no-repeat 0 0; padding:115px 10px 10px 0; text-align:right; color:#fff; }
.dep_04_03 {background:url('../images/department/dep_04_03.jpg') no-repeat right 0; padding:30px 0 0 0; text-align:left; color:#666; min-height:570px; }
.dep_04_03 p.text_01 {width:470px; font-size:14px; line-height:24px; }
.dep_04_03 p.text_02 {width:470px; margin-top:30px; line-height:22px; }
.dep_04_03 p.text_02 span {background:url('../images/department/bl_01.jpg') no-repeat 0 center; padding-left:15px; font-size:18px; }

.dep_05_02 {margin-top:10px; background:url('../images/department/dep_05_02.jpg') no-repeat 0 0; padding:120px 10px 10px 0; text-align:right; color:#fff; }
.dep_05_03 {background:url('../images/department/dep_05_03.jpg') no-repeat right 0; padding:30px 0 0 0; text-align:left; color:#666; min-height:570px; }
.dep_05_03 p.text_01 {width:470px; font-size:14px; line-height:24px; }
.dep_05_03 p.text_02 {width:470px; margin-top:30px; line-height:22px; }
.dep_05_03 p.text_02 span {background:url('../images/department/bl_01.jpg') no-repeat 0 center; padding-left:15px; font-size:18px; }


h2 {font-size:18px; font-weight:600; margin-bottom:20px; }
h3 {font-size:16px; font-weight:600; color:#333; margin-bottom:10px; }


#visual_main{width:100%; height:1000px; overflow:hidden; position:relative; z-index:1;  margin:0 auto; padding-top: 60px }
#visual_main img{position:absolute; left:50%; margin-left:-960px; z-index:1; display:none;}
#visual_main .on {display:block; }





/* sitemap */
.sitemap {}
.sitemap ul {float:left; width:200px;   margin:0 15px 30px 15px; }
.sitemap ul li {line-height:40px; border-bottom:solid 1px #d2d2d2; text-align:center;  }
.sitemap ul li.title {background:#f7f7f7; border-top:solid 3px #324184; border-bottom:solid 1px #222; line-height:49px; font-size:16px; font-weight:600; }
.sitemap ul li a {padding-left:7px; background:url('../images/n_common/sitemap_arr_off.png') no-repeat 0 center; }
.sitemap ul li a:hover {background:url('../images/n_common/sitemap_arr.png') no-repeat 0 center; color:#222; }
.sitemap ul li.title a:hover {background:none; padding:0; }
.sitemap ul li.title a{background:none; padding:0; color:#324184; }
















/*레이어팝업*/

.m_lp_warp_01 {position:absolute; width:580px; left:53.8%;  margin-left:-400px; margin-top:138px;  background:#82bdbc; z-index:1000; }
.m_lp_title {background:#324184; overflow:hidden; padding:10px ; }
.m_lp_title h1 {color:#fff; font-size:24px; font-weight:600; margin:5px 0 0 10px; }
.m_lp_con {padding:2px; text-align:left; }
.m_lp_con p {font-size:11px;  margin-top:14px; }


.m_lp_tb_01 {width:100%; border:solid 1px #def0eb; }
.m_lp_tb_01 th {background:#324184; border-right:solid 1px #def0eb; line-height:30px; color:#fff; font-size:13px; text-align:center; }
.m_lp_tb_01 td {border-bottom:solid 1px #def0eb; border-right:solid 1px #def0eb; padding:7px 5px; color:#666; font-size:12px; text-align:left; letter-spacing:-0.9px; }
.m_lp_tb_01 td.tl {text-align:center; padding:0;background:#eefefa; color:#324184; font-weight:600; }




/* 메인배너 */
.main_banner {padding-top:10px;text-align:center;  }
.main_banner a {}



/* 입시결과 */
.result_tab { display:table; margin-bottom:20px; border-right:1px solid #e5e5e5; }
.result_tab a { position:relative;box-sizing:border-box; display:table-cell; width:1%; height:40px; text-align:center; vertical-align:middle; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#f7f7f7; }
.result_tab a:before,
.result_tab a:after { position:absolute; top:0; bottom:0; height:18px; margin:auto; border-left:1px solid #e5e5e5; content:''; }
.result_tab a:before { left:0px; }
.result_tab a:after { right:-1px; z-index:1; }
.result_tab a:first-child:before { position:absolute; height:100%; top:0; border-left:1px solid #e5e5e5; content:''; }
.result_tab a.select {z-index:10; border-width:3px 0 0; border-style:solid; border-color:#324184 #e5e5e5 transparent; background-color:#fff; padding-bottom:3px;}
.result_tab a.select:before,
.result_tab a.select:after { height:100%; border-color:#e5e5e5; }
