@charset 'utf-8';



/* 기본세팅 */
/* comment 160511 hsh
*{margin:0; padding:0 auto;}
html,body{width:100%; height:100%;}
html{overflow-y:scroll;}
body{width:100% auto; height:100%; text-align:center;}
body,input,button{font-size:12px; line-height:1.5em; font-family:'Nanum Gothic', '나눔고딕', sans-serif; color:#555555;}
h1,h2,h3,h4,h5,h6{font-size:12px; text-align:left;}
img,fieldset,iframe{border:0 none;}
ul { list-style:none;}
li{list-style:none; text-decoration:none;}
a{color:#555; text-decoration:none;}
a:hover{color:#b3070d; text-decoration:none;}
em,address{font-style:normal;}
button,label{cursor:pointer; cursor:hand;}
button {position:relative;}
button img{left:-3px; *left:auto;}
textarea{overflow:auto;}
option{padding-right:6px;}
*/
/*Common*/
.input_text, textarea{*margin:-1px 0; padding-right:1px;}
.input_check, .input_radio{width:13px; height:13px;}
.blind, legend, .ke_kbd .skip_kbd, .wg_sports thead th{display:block; overflow:hidden; position:absolute; left:0; top:-5000px;}
hr{display:none;}
.cboth{clear:both}
.fleft{float:left}
.fright{float:right}
.hidden{position:absolute; left:-1000%; top:0; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden; text-indent:-5000px;}

/* comment 160511 hsh
p {margin-top:15px; color:#555;}
img{border-style:none;}
h1 {font-weight:bold; font-size:11px; color:#555;}
h2 {font-weight:bold; font-size:10px; color:#555;}
*/
.mt20{margin-top:20px;}
.lh140{line-height:100%; padding:5px;}
.ml20{margin-left:20px;}
.bold{font-weight:bold}
.blue{color:#0b7792}
.mt25{margin-top:25px;}
.ml40{margin-left:40px;}
.ml30{margin-left:30px;}

.bul{background:url('../images/common/intro_bl.gif') 0px 3px no-repeat; margin-left:20px; padding-left:15px;}
.bul01{background:url('../images/common/intro_bl01.gif') 0px 7px no-repeat; margin-left:20px; padding-left:10px;}
.bul02{background:url('../images/common/intro_bl02.gif') 0px 3px no-repeat; margin-left:10px; padding-left:15px; color:#0b7792; font-weight:bold}
.bul03{background:url('../images/common/major_bl.gif') 0px 0px no-repeat; margin-left:15px; padding-left:20px; color:#0b7792; font-weight:bold;}
.g_box{font-size:11px; background-color:#fafafa; border:1px solid #e5e5e5; padding:6px 10px; margin-left:25px;}

/*
table,tr,td{ font-family:"Dotum, 돋움, arial, helvetica"; color:#555; line-height:1.5em; letter-spacing:0px; font-size:12px;}
select{ font-family:"Dotum, 돋움, arial, helvetica"; color:#555; line-height:1.5em; letter-spacing:0px; font-size:8pt; border:1px solid #e0e0e0; background-color:#FFFFFF;}
textarea{ font-family:"Dotum, 돋움, arial, helvetica"; color:#555; line-height:1.5em; letter-spacing:0px; font-size:8pt; border:1px solid #d5d4d4; background-color:#FFFFFF; overflow:auto; padding:7px 7px 7px 7px;}
input{ font-family:"Dotum, 돋움, arial, helvetica"; font-size:9pt; color:#555; border:1px solid #d5d4d4; background-color:#FFFFFF; padding:2px 1px 1px 2px;}

input .transparent {border:none; background-color:Transparent; font-size:12px; line-height:120%; font-family:dotum; color:#fff; padding:1px 0 0 0;}
input .button {font-family:돋움,굴림; font-size:12px; color:#0054a6; text-decoration:none; border:1px solid #328fea; background-color:#a2cef9; line-height:125%;}
input .checkbox {border-style:none; background-color:#fff;}
input .none{ font-family:"Dotum, 돋움, arial, helvetica"; font-size:9pt; color:#555; border:none;}
input .img_button{border:none;}
input .radio {border:none;}
input .login{ font-family:"Dotum, 돋움, arial, helvetica"; font-size:9pt; color:#ffffff; border:0; background-color:Transparent; padding:2px 1px 1px 1px;}
input .select {font-family:"Dotum,돋움,굴림"; font-size:12px; color:#fff; text-decoration:none; border:1px solid #d5d4d4; line-height:150%;}

.input_none{border:none; background-color:transparent;}

.login {font-family:"Dotum,굴림,돋움"; font-size:8pt; color:#555; text-decoration:none; border:1px solid #CCCBCB; background-color:Transparent; line-height:145%;}
.png24 { tmp:'expression(setPng24(this))';}
*/
/*탑메뉴*/
.nav{position:relative; float:right; width:auto; margin:0; z-index:9001}

.navBg{width:100%}

#gnbNavi{display:inline-block; float:left; width:960px; height:63px; margin:0px 0 0; text-align:left; z-index:9002;}

#gnbNavi.on{height:241px; background:url(../images/common/sub_bg.jpg) no-repeat center bottom}

#gnbNavi li{display:inline-block; float:left; width:123px; padding:0; /*background:url(../images/common/topmenu_txt.gif) no-repeat 0 0 ; */line-height:0px; font-size:0px; margin:0px;}
#gnbNavi .mNavi00{width:335px;}
#gnbNavi .mNavi01{width:95px;}
#gnbNavi .mNavi02{width:95px;}
#gnbNavi .mNavi03{width:95px;}
#gnbNavi .mNavi04{width:141px;}
#gnbNavi .mNavi05{width:100px;}
#gnbNavi .mNavi06{width:95px;}

#gnbNavi li.mNavi01 a{background-position:0 0}
#gnbNavi li.mNavi02 a{background-position:-123px 0}
#gnbNavi li.mNavi03 a{background-position:-246px 0}
#gnbNavi li.mNavi04 a{background-position:-369px 0}
#gnbNavi li.mNavi05 a{background-position:-492px 0}
#gnbNavi li.mNavi06 a{background-position:-615px 0}

#gnbNavi li.mNavi01 a.on,
#gnbNavi li.mNavi01 a.on:hover,
#gnbNavi li.mNavi01 a.on:active,
#gnbNavi li.mNavi01 a.on:focus{background-position:0 -45px}

#gnbNavi li.mNavi02 a.on,
#gnbNavi li.mNavi02 a.on:hover,
#gnbNavi li.mNavi02 a.on:active,
#gnbNavi li.mNavi02 a.on:focus{background-position:-123px -45px}

#gnbNavi li.mNavi03 a.on,
#gnbNavi li.mNavi03 a.on:hover,
#gnbNavi li.mNavi03 a.on:active,
#gnbNavi li.mNavi03 a.on:focus{background-position:-246px -45px}

#gnbNavi li.mNavi04 a.on,
#gnbNavi li.mNavi04 a.on:hover,
#gnbNavi li.mNavi04 a.on:active,
#gnbNavi li.mNavi04 a.on:focus{background-position:-369px -45px}

#gnbNavi li.mNavi05 a.on,
#gnbNavi li.mNavi05 a.on:hover,
#gnbNavi li.mNavi05 a.on:active,
#gnbNavi li.mNavi05 a.on:focus{background-position:-492px -45px}

#gnbNavi li.mNavi06 a.on,
#gnbNavi li.mNavi06 a.on:hover,
#gnbNavi li.mNavi06 a.on:active,
#gnbNavi li.mNavi06 a.on:focus{background-position:-615px -45px}

#gnbNavi li ul{position:relative; display:none; float:left; width:123px; padding:0px}

#gnbNavi li:hover ul,
#gnbNavi li:active ul,
#gnbNavi li:focus ul{display:block}

#gnbNavi li li{display:inline-block; float:left; width:96px; padding:0px; background:none; line-height:0px; font-size:0px}

#gnbNavi li li a{display:block; width:96px; height:auto; background:none; line-height:0px; font-size:0px}

#gnbNavi li li a.on,
#gnbNavi li li a:hover,
#gnbNavi li li a:active,
#gnbNavi li li a:focus{font-weight:bold; color:#1076be}

.topDepth2 ul li{line-height:0px; font-size:0px; margin:0px; padding:0px;}

/*폰트*/
.con_stitle{ font-family:Dotum, 돋움, arial, helvetica; color:#000; font-size:10pt; font-weight:bold; padding-top:7px;}
/*테이블,표 스타일*/
#table {width:690px; border-top:2px solid #324184;}
#table th{height:29px; ; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8; ; border-right:solid 1px #dcdcdc;}
#table th.bottom{border-bottom:1px solid #c9c9c9;}
#table td.bottom{border-bottom:1px solid #c9c9c9;}
#table th.right{height:29px; ; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8; ; border-right:solid 1px #fff;}
#table td{border-bottom:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; background:#fff; padding:2px; vertical-align:middle;}
#table td.right {border-bottom:solid 1px #dcdcdc; border-right:solid 1px #fff; background:#fff; padding:2px; vertical-align:middle}

#table2 {width:660px; border-top:2px solid #324184;}
#table2 th{height:29px; ; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8; ; border-right:solid 1px #dcdcdc;}
#table2 th.right{height:29px; ; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8; ; border-right:solid 1px #fff;}
#table2 td{border-bottom:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; background:#fff; padding:2px; vertical-align:middle;}
#table2 td.right {border-bottom:solid 1px #dcdcdc; border-right:solid 1px #fff; background:#fff; padding:2px; vertical-align:middle}

#table3 {width:670px; border-top:2px solid #324184;}
#table3 th{height:29px; ; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8; ; border-right:solid 1px #dcdcdc;}
#table3 th.right{height:29px; ; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8; ; border-right:solid 1px #fff;}
#table3 tr td{border-bottom:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; background:#fff; padding:2px; vertical-align:middle;}
#table3 tr td.right {border-bottom:solid 1px #dcdcdc; border-right:solid 1px #fff; background:#fff; padding:2px; vertical-align:middle}
.tb3 p{margin:0px; line-height:170%; margin-left:15px;}


/*전공안내-사회복지학*/
.tb_major{width:557px; background-color:#FFFFFF; border:1px solid #dad9d9; font-size:11px; font-family:dotum;}
.tb_major tbody tr td{height:25px; font-size:11px; background-color:#FFFFFF; border-left:1px solid #dad9d9; border-bottom:1px solid #dad9d9; padding:0px 7px;}
/*메인페이지 셑 */

#full_frame{width:100%;}
#main_frame{width:100%; text-align:center; background-image:url('../images/main/bg_index.jpg') repeat-x;}
#main_section{width:100%;}
.top_sec{width:100%;}

.con_sec{width:960px;}
.con_sec .main_con1{float:left; width:299px;}
.con_sec .main_cont{height:92px; text-align:left;}
/*메인 공지사항*/
.main_notice{float:left; width:428px; margin-top:23px;}

/*서브페이지셑 */
#sub_frame{width:960px; margin:0 auto; text-align:center;}
#sub_section{width:100%; min-height:600px;}
.sub_top_sec{width:100%; padding-bottom:30px;}
.sub_top_sec .visual{width:100%;}
.sub_top_sec .snb{width:960px; overflow:hidden;}
.sub_top_sec .title{width:217px; height:89px; line-height:89px; font-size:28px; letter-spacing:-2px; color:#fff; background:url(../common/images/left_nav.jpg); float:left; text-align:center; border-bottom:1px solid #aaa;}
.sub_top_sec .title_etc{float:left; width:225px; background:url('../images/leftmenu/left_title_bg.jpg') 0 0 no-repeat; font-size:28px; line-height:26px; font-weight:500; padding:20px 0 25px 5px; text-align:left; letter-spacing:-1px;}
.sub_top_sec .st{float:left; width:350px;text-align:left; margin:66px 0 0 50px;}
.sub_top_sec .direc {float:right; width:340px; text-align:right; margin-top:39px; font-size:12px; color:#999;}
.sub_top_sec .direc img {padding-right:2px;}
.sub_top_sec .direc b {font-weight:normal;}
.navi_bold{color:#0b3560; font-weight:bold;}
.sub_con_sec{width:960px; text-align:left; clear:both;}
.sub_con_sec:after { clear:both; display:table; height:0; content:''; }
.sub_con_left{float:left; width:230px;} /* 레프트 */
.sub_left_menu{float:left; width:230px; padding-bottom:24px;}
.sub_left_banner{float:left; width:230px; padding-bottom:15px;}
.sub_content{float:left; width:690px; border-top:1px solid #e5e5e5; padding-top:20px; margin-top:-19px; margin-left:40px;}

.content{width:690px; clear:both;}
.sicon{float:left; width:9px; height:9px; padding-right:7px; padding-top:8px; padding-bottom:10px;}
.stext{float:left; width:674px; height:15px; color:#666666; font-weight:bold;}
.sicon2{float:left; width:15px; height:9px; padding-right:7px; padding-top:8px; padding-bottom:10px;}
.con_stitle{ font-family:Dotum, 돋움, arial, helvetica; color:#000; font-size:10pt; font-weight:bold; padding-top:7px;}
.btn100{width:690px; height:34px; text-align:right; padding-bottom:10px;}
.sub_slec{float:left; width:201px; height:53px; padding-bottom:16px;}/* PDF파일다운 버튼 */
/* board */
.search_left{float:left; width:171px; height:157px;}
.search_right{float:left; width:519px; height:157px;}

.search_right_top{width:519px; height:47px; margin-top:23px;}
.search_right_text{float:left; width:241px; height:47px; color:#666666;}
.search_right_text2{float:left; width:441px; height:47px; color:#666666;}
.search_right_btn{float:left; width:278px; height:47px;}

.search_right_con{width:517px; height:44px; background-color:#f8f8f8; border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; padding-top:19px;}
.search_right_slec{float:left; width:117px; height:44px;}
.search_right_input{float:left; width:260px; height:44px;}
.search_right_btn2{float:left; width:140px; height:44px;}

.search_right_con2{width:517px; height:44px; background-color:#f8f8f8; border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; padding-top:19px;}
.search_right_slec2{float:left; width:197px; height:44px;}
.search_right_input2{float:left; width:180px; height:44px;}
.search_right_btn22{float:left; width:140px; height:44px;}

.search_right_foot{width:519px; height:22px;}

.board_list{width:690px; height:34px; color:#4297a2; font-weight:bold;}
.board_list_no{float:left; width:65px; height:27px; background-image:url('../images/common/list_title_01.jpg'); background-repeat:no-repeat; text-align:center; padding-top:7px;}
.board_list_title{float:left; width:299px; height:27px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:center; padding-top:7px; letter-spacing:7em;}
.board_list_title1{float:left; width:353px; height:27px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:center; padding-top:7px; letter-spacing:7em;}
.board_list_write{float:left; width:88px; height:27px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:center; padding-top:7px;}
.board_list_date{float:left; width:92px; height:27px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:center; padding-top:7px;}
.board_list_stat{float:left; width:50px; height:27px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:center; padding-top:7px;}
.board_list_now{float:left; width:80px; height:27px; background-image:url('../images/common/list_title_06.jpg'); background-repeat:no-repeat; text-align:center; padding-top:7px;}

.board_list2{width:690px; height:30px; color:#4297a2; border-bottom:1px solid #eaeaea;}
.board_list2_no{float:left; width:65px; height:23px; text-align:center; padding-top:7px; color:#ababab;}
.board_list2_title{float:left; width:299px; height:23px; text-align:left; padding-top:7px; color:#f7a0a4;}
.board_list2_title1{float:left; width:353px; height:23px; text-align:left; padding-top:7px; color:#f7a0a4;}
.board_list2_write{float:left; width:88px; height:23px; text-align:center; padding-top:7px; color:#ababab;}
.board_list2_date{float:left; width:92px; height:23px; text-align:center; padding-top:7px; color:#ababab;}
.board_list2_stat{float:left; width:50px; height:23px; ; text-align:center; padding-top:7px; color:#ababab;}
.board_list2_now{float:left; width:80px; height:23px; text-align:center; padding-top:7px; color:#999;}

.board_tail{width:690px; height:20px; color:#4297a2; border-top:1px solid #eaeaea;}

.board_write{width:690px; height:28px;}
.write_icon{float:left; width:20px; height:28px;}
.write_text{float:left; width:670px; height:22px; color:#666666; padding-top:6px;}
.board_write_left{float:left; width:67px; height:27px; background-image:url('../images/common/list_title_01.jpg'); background-repeat:no-repeat; text-align:center; padding-top:7px; color:#4297a2; font-weight:bold;}
.board_sero1{float:left; width:2px; height:25px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:left; padding-top:9px;}
.board_write_title{float:left; width:527px; height:28px; background-image:url('../images/common/bg_board_list.jpg'); background-repeat:repeat-x; text-align:left; padding-top:6px; padding-left:10px;}
.board_write_right{float:left; width:84px; height:27px; background-image:url('../images/common/list_title_06.jpg'); background-repeat:no-repeat; text-align:center; padding-top:7px;}

.board_write2{width:690px; height:30px; border-bottom:1px solid #eaeaea; padding-top:4px;}
.board_write_st1{float:left; width:67px; height:16px; text-align:center; font-weight:bold; color:#aeaeae; padding-top:4px;}
.board_sero2{float:left; width:2px; height:16px; text-align:left; padding-top:4px;}
.board_write_st2{float:left; width:355px; height:16px; text-align:left; padding-left:10px; padding-top:4px;}
.board_write_st3{float:left; width:71px; height:16px; text-align:center; font-weight:bold; color:#aeaeae; padding-top:4px;}
.board_write_st4{float:left; width:170px; height:16px; text-align:left; padding-left:10px; padding-top:4px;}
.board_write3{width:665px; height; 100%; padding-left:10px; padding-top:10px; padding-right:10px; padding-bottom:10px; border:2px solid #dddddd;}
.board_write_ica{float:left; width:17px; padding-bottom:14px; padding-right:10px;}
.board_write_tit{float:left; width:663px; padding-left:10px; font-weight:bold; padding-bottom:14px;}
.board_write4{width:690px; height; 100%; padding-left:10px; padding-top:10px; padding-right:10px; padding-bottom:10px;}

.extend_search{width:690px; height:112px; padding-bottom:26px; color:#646464;}
.extend_search_left{float:left; width:66px; padding-left:24px; padding-top:2px;}
.extend_search_right{float:left; width:289px;}
.extend_search_btn{float:left; width:289px;}



.content_in{width:690px; height:30px; padding-top:25px; clear:both;}
.content_chart{width:690px; height:41px; border-top:2px solid #324184; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8;}
.content_c1{float:left; height:30px; font-weight:bold; text-align:center; padding-top:11px;}
.content_c11{float:left; height:39px; font-weight:bold; text-align:center; padding-top:2px;}
.content_chart2{width:690px; min-height:50px;}
.content_c2{float:left; min-height:40px; text-align:center; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding-top:10px; padding-bottom:10px;}
.content_c22{float:left; min-height:40px; text-align:center; border-bottom:1px solid #dcdcdc; padding-top:10px; padding-bottom:10px;}

.content_chart3{width:690px; height:29px; border-top:2px solid #324184; border-bottom:1px solid #dcdcdc; background-color:#f8f8f8;}
.content_c3{float:left; height:20px; font-weight:bold; text-align:center; padding-top:9px;}
.content_c33{float:left; height:29px; font-weight:bold; text-align:center; padding-top:0px;}
.content_chart4{width:690px; min-height:22px;}
.content_c4{float:left; min-height:10px; text-align:center; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc; padding-top:7px; padding-bottom:5px;}
.content_c44{float:left; min-height:10px; text-align:center; border-bottom:1px solid #dcdcdc; padding-top:7px; padding-bottom:5px;}

.calculator{width:690px;}
.calculator_left{float:left; width:420px; height:119px;}
.calculator_right{float:left; width:260px; height:119px;}
.icon_write_t{float:left; width:17px; height:28px; padding-right:5px; padding-bottom:10px;}
.sst_step{float:left; width:65px; padding-right:5px; height:25px; padding-top:3px; padding-bottom:10px;}
.stext{float:left; width:598px; height:23px; padding-top:5px; padding-bottom:10px;}

.line_top{width:690px; height:25px; border-top:2px solid #c9c9c9; border-bottom:1px solid #c9c9c9; padding-top:8px;}
.line_top .line1{float:left; width:170px; height:25px; text-align:center; font-weight:bold;}
.line_top .line2{float:left; width:1px; height:20px; padding-top:5px;}
.line_top .line3{float:left; width:509px; height:25px; padding-left:10px;}

.line_top2{width:690px; height:20px; border-top:2px solid #c9c9c9; border-bottom:1px solid #c9c9c9; padding-top:8px;}
.line_top2 .nline1{float:left; width:149px; height:18px; text-align:center; font-weight:bold; border-right:1px solid #c9c9c9;}
.line_top2 .nline2{float:left; width:79px; height:18px; text-align:center; font-weight:bold; border-right:1px solid #c9c9c9;}
.line_top2 .nline3{float:left; width:149px; height:18px; text-align:center; font-weight:bold; border-right:1px solid #c9c9c9;}
.line_top2 .nline4{float:left; width:79px; height:18px; text-align:center; font-weight:bold; border-right:1px solid #c9c9c9;}
.line_top2 .nline5{float:left; width:149px; height:18px; text-align:center; font-weight:bold; border-right:1px solid #c9c9c9;}
.line_top2 .nline6{float:left; width:80px; height:18px; text-align:center; font-weight:bold;}


.line_middle{width:690px; height:25px; border-bottom:1px solid #c9c9c9; padding-top:8px;}
.line_middle .line1{float:left; width:170px; height:25px; text-align:center; font-weight:bold;}
.line_middle .line2{float:left; width:1px; height:20px; padding-top:5px;}
.line_middle .line3{float:left; width:509px; height:25px; padding-left:10px;}

.line_middle2{width:690px; height:25px; border-bottom:1px solid #c9c9c9; padding-top:8px;}
.line_middle2 .nline1{float:left; width:149px; height:18px; text-align:center; border-right:1px solid #c9c9c9;}
.line_middle2 .nline2{float:left; width:79px; height:18px; text-align:center; border-right:1px solid #c9c9c9;}
.line_middle2 .nline3{float:left; width:149px; height:18px; text-align:center; border-right:1px solid #c9c9c9;}
.line_middle2 .nline4{float:left; width:79px; height:18px; text-align:center; border-right:1px solid #c9c9c9;}
.line_middle2 .nline5{float:left; width:149px; height:18px; text-align:center; border-right:1px solid #c9c9c9;}
.line_middle2 .nline6{float:left; width:80px; height:18px; text-align:center;}

.ca_line_guide{width:680px; border-top:1px solid #c9c9c9; border-bottom:1px solid #c9c9c9; padding-top:15px; padding-bottom:15px; padding-left:5px; padding-right:5px; min-height:20px; background-color:#f7f7f7; margin-bottom:20px;}




/*풋페이지 공용 */
#footer { width:100%; position:relative; clear:both;}
#footer .footer_wrap { position:relative; left:50%; height:90px; margin:0 auto; width:960px; margin-left:-480px; ; /*가로사이즈의 절반수치 */padding-top:16px;}
.footer_left{float:left; padding-right:35px;}
.footer_txt{float:left; text-align:left;}
.footer_txt{padding-top:7px;}
.footer_txt p{text-align:left; clear:both;}
.foot_right{float:right; padding-top:3px;}

.pagingWNB td table tr td span{font-weight:bold}
