@charset 'utf-8';

/* 초기화 부분*/
/* base */
/* comment 160511 hsh
body,input,textarea,select,button,table{font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,sans-serif; font-size:12px; color:#333;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,input,table,tr,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{ font-weight:normal;font-size:100%}
ul,ol{ list-style:none}
fieldset,img{ border:0; vertical-align:top;}
address{ font-style:normal}
p,li,dd{ text-align:justify; line-height:1.5em; }
*/
.hidden{ position:absolute; top:0; left:-1000%; width:1px; height:1px; color:#fff; overflow:hidden; }

/* a-style */
a{color:#333;text-decoration:none}
a:hover,a:active,a:focus{color:#333;text-decoration:none}

#skipNav{position:relative;width:100%;overflow:hidden;}
#skipNav a{display:block; height:1px; margin-bottom:-1px; overflow:hidden; text-align:center; text-decoration:none; color:#333; font-size:12px;}
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{display:block;height:auto;padding:5px 0; background:none repeat scroll 0 0 #f2f2f2;}
/* comment 160511 hsh
@font-face{
	font-family:nanumBarunL;
	src:url('../../fonts/NanumBarunGothicLight.eot');
	src:url('../../fonts/NanumBarunGothicLight.woff') format('woff'),
	url('../../fonts/NanumBarunGothicLight.ttf') format('true type');
}
@font-face{
	font-family:nanumBarun;
	src:url('../../fonts/NanumBarunGothic.eot');
	src:url('../../fonts/NanumBarunGothic.woff') format('woff'),
	url('../../fonts/NanumBarunGothic.ttf') format('true type');
}
@font-face{
	font-family:nanumBarunB;
	src:url('../../fonts/NanumBarunGothicBold.eot');
	src:url('../../fonts/NanumBarunGothicBold.woff') format('woff'),
	url('../../fonts/NanumBarunGothicBold.ttf') format('true type');
}
@font-face{
	font-family:nanumGothicB;
	src:url('../../fonts/NanumGothicBold.eot');
	src:url('../../fonts/NanumGothicBold.woff') format('woff'),
	url('../../fonts/NanumGothicBold.ttf') format('true type');
}
@font-face{
	font-family:nanumGothic;
	src:url('../../fonts/NanumGothic.eot');
	src:url('../../fonts/NanumGothic.woff') format('woff'),
	url('../../fonts/NanumGothic.ttf') format('true type');
}
*/
/* 공통 영역*/
.wrap{}
.hidden{ position:absolute; top:0; left:-1000%; width:1px; height:1px; color:#fff; overflow:hidden; }

/* header Gnb */
#header {height:117px; background:url(../images/bg_header.gif) repeat-x; position:relative; z-index:9999;}
#header .headerInner {width:960px; margin:0 auto;}
#header .headerInner div.topNav {overflow:hidden; padding-bottom:1px;}
#header .headerInner div.topNav h1 {float:left;}
#header .headerInner div.topNav ul {float:right;}
#header .headerInner div.topNav ul li {float:left; margin-top:20px; margin-left:10px; background:url(../images/top_bar.gif) left 4px no-repeat;}
#header .headerInner div.topNav ul li.fullnavBtn {background:url(../images/fullnav.jpg) right center no-repeat;}
#header .headerInner div.topNav ul li a {color:#666; padding-left:10px; font-size:12px;}
#header .headerInner div.topNav ul li.fullnavBtn a {padding-right:20px;}
#header .headerInner div.topNav ul li:first-child {margin-left:0; padding:0; background:none;}

div.gnb {position:absolute; top:57px; left:0; width:100%; height:60px; overflow:hidden; background:#fff url(../images/bg_gnb.gif) repeat-x;}
div.gnb.on {border-bottom:2px solid #061b52;}
div.gnb div.gnbBox {margin:0 auto; width:960px;}
div.gnb div.gnbBox ul {overflow:hidden;}
div.gnb div.gnbBox ul > li {box-sizing:border-box;display:table-cell;position:relative;width:1%;text-align:center; }
div.gnb div.gnbBox ul > li > a {display:block; height:60px; padding:0 20px; color:#fff; text-align:center; line-height:60px; font-size:16px;white-space:nowrap;}
div.gnb div.gnbBox ul li div {margin-top:16px;}
div.gnb div.gnbBox ul li div:before { position:absolute;top:76px; height:1000px; left:0; border-left:1px solid #b1b1b1; content:''; }
div.gnb div.gnbBox ul li div a {display:block; font-size:14px; color:#666; margin-top:7px; text-align:left; padding:0 20px;white-space:nowrap; }
div.gnb div.gnbBox ul li div a:first-child {margin-top:0;}
div.gnb div.gnbBox ul li div a:hover {color:#283674; text-decoration:underline;}
div.gnb div.gnbBox ul li:first-child div:before { display:none; }

/* footer */
#foot_frame {clear:both; margin-top:80px; }
#footer {clear:both; border-top:1px solid #324184; background:#1d1f25; color:#737272; font-size:14px; text-align:left;}
#footer .footerInner {position:relative; width:960px; margin:0 auto; padding:30px 0;}
#footer .footerInner .footerTop {}
#footer .footerInner .footerTop ul {overflow:hidden;}
#footer .footerInner .footerTop ul li {float:left; margin-left:12px; padding-left:11px; color:#666; background:url(../images/footer_bar.gif) left 4px no-repeat;}
#footer .footerInner .footerTop ul li:first-child {margin-left:0; padding-left:0; background:none;}
#footer .footerInner .footerTop ul li a {color:#737272;}
#footer .footerInner .footerTop ul li a.policy {color:#aeaeae}
#footer .footerInner .footerBot {}
#footer .footerInner .footerBot ul li {margin-top:9px;}
#footer .footerInner .footerBot ul li .col {padding:0 9px 0 10px; background:url(../images/footer_bar.gif) left 1px no-repeat}
#footer .footerInner .footerBot ul li .col:first-child {padding:0 9px 0 0; background:none;}
#footer .footerInner .footerBot ul li .point {color:#aeaeae}

#footer .footerInner .familysite {position:absolute; right:0; top:32px; width:180px; font-size:14px; color:#727272; line-height:1.3;}
#footer .footerInner .familysite>h2 { position:relative; z-index:10; margin:0; padding:9px 22px; border:1px solid #666769; background-color:#1d1f25; text-transform:uppercase; font-size:100%; font-weight:400; cursor:pointer;}
#footer .footerInner .familysite>h2:after { position:absolute; top:0; bottom:0; right:10px; margin:auto; width:0; height:0; border-width:6px 4px 0 4px; border-style:solid; border-color:#727272 transparent transparent transparent; content:''; }
#footer .footerInner .familysite>ul { box-sizing:border-box; position:absolute; top:0; left:0; right:0; border:1px solid #666769; background-color:#1d1f25; }
#footer .footerInner .familysite>ul.on { top:40px; }
#footer .footerInner .familysite>ul>li { }
#footer .footerInner .familysite>ul>li>a { display:block; padding:9px 22px; color:inherit; }
#footer .footerInner .familysite>ul>li>a:hover,
#footer .footerInner .familysite>ul>li>a:focus { color:#fff; }
#footer .footerInner .familysite select {width:133px; padding:5px; font-weight:bold; border:0; background:transparent; color:#727272}

#footer .footer_wrap {position:relative; left:50%; height:90px; margin:0 auto; width:960px; margin-left:-480px; ; /*가로사이즈의 절반수치 */padding-top:16px;}
.footer_left {float:left; padding-right:35px;}
.footer_txt {float:left; text-align:left;}
.footer_txt {padding-top:7px;}
.footer_txt p {text-align:left; clear:both;}
.foot_right {float:right; padding-top:3px;}
