/* container 영역*/
.contentMainimg {position:relative; box-sizing:border-box; width:100%; height:200px; border-bottom:1px solid #C6C6C6; background:url(../common/images/2016/sub6_main.jpg) center 0 no-repeat; overflow:hidden;}
.contentMainimg p{}
.contentMainimg p span{font-size:36px;font-weight:bold;}
.container{width:980px;height:768px;margin:0 auto;overflow:hidden;}
.container .leftBox{width:217px;float:left;}
.container .leftBox .leftNav h3{width:217px;height:90px;margin-bottom:10px;line-height:90px;font-size:28px;letter-spacing:-2px;color:#324184;font-family:"nanumBarunB";background:url(../images/common/left_nav.jpg);}
.container .leftBox .leftNav ul li{height:33px;line-height:33px;border-bottom:1px solid #e1e1e1}
.container .leftBox .leftNav ul li a{display:block;width:100%;font-weight:bold;text-indent:10px;color:#324184}
.container .leftBox .leftNav ul li a:hover,.container .leftBox .leftNav ul li a.current{background-color:#324184;color:#fff}
.container .content{width:763px;float:left;position:relative;}
.container .content .conPath{position:absolute;right:0;top:0;padding-left:19px;background:url(../images/common/conpath.jpg) no-repeat;color:#999}
.container .content .titleArea{height:90px;margin-left:52px}
.container .content .titleArea h2{font-family:"nanumGothicB";font-size:24px;margin:22px 0 13px 0;}
.container .content .titleArea p{color:#999}
.container .content .contentArea{margin-left:52px}
.container .content .contentArea .con_search{margin-bottom:10px;}
.container .content .contentArea .con_search select{height:30px;border:1px solid #ddd}
.container .content .contentArea .con_search input{width:180px;height:28px;border:1px solid #ddd}
.container .content .contentArea .con_search a.btn_search{display:inline-block;width:42px;margin-left:-4px;padding:8px 0;text-align:center;color:#fff;background-color:#484848}
.container .content .contentArea table{width:100%;margin-bottom:30px;border-collapse:collapse}
.container .content .contentArea table thead tr{height:33px;background-color:#324184;color:#fff}
.container .content .contentArea table tbody tr{height:32px;text-align:center;color:#555;border-bottom:1px solid #ccc}
.container .content .contentArea table tbody tr td.subject{text-align:left}
.container .content .contentArea .paging{text-align:center}
.container .content .contentArea .paging a span{display:inline-block;width:24px;height:24px;font-weight:bold;text-align:center;border:1px solid #ddd; line-height:24px;color:#666}
.container .content .contentArea .paging a.on span{border:1px solid #324184;color:#324184}