/* container 영역*/
/* .contentMainimg {position:relative; width:100%; height:230px; background:url(../common/images/sub7_main.png) center 0 no-repeat;} */
.contentMainimg {position:relative; box-sizing:border-box; width:100%; height:200px; border-bottom:1px solid #C6C6C6; background:url(../common/images/2016/sub7_main.jpg) center 0 no-repeat; overflow:hidden;}
/* .contentMainimg p {position:absolute; left:50%; top:50px; width:316px; font-size:24px; font-family:"nanumBarunB"; color:#1b8382} */
.contentMainimg p {}
.contentMainimg p span {font-size:32px; font-weight:bold;}
.container {width:980px; margin:0 auto; overflow:hidden;}
.container .leftBox {width:217px; float:left;}
.container .leftBox .leftNav h3 {width:217px; height:90px; margin-bottom:10px; line-height:90px; font-size:28px; letter-spacing:-2px; color:#324184; font-family:"nanumBarun"; background:url(../common/images/left_nav.jpg);}
.container .leftBox .leftNav ul li {height:33px; line-height:33px; border-bottom:1px solid #e1e1e1}
.container .leftBox .leftNav ul li a {display:block; width:100%; font-weight:bold; text-indent:10px; color:#324184}
.container .leftBox .leftNav ul li a:hover,.container .leftBox .leftNav ul li a.current {background-color:#324184; color:#fff}
.container .content {width:690px; float:left; position:relative;}
.container .content .conPath {position:absolute; right:0; top:0; padding-left:19px; background:url(../common/images/conpath.jpg) no-repeat; color:#999;}
.container .content .titleArea {height:88px; margin-left:52px}
.container .content .titleArea h2 {font-family:"nanumGothicB"; font-size:24px; margin:22px 0 10px 0;}
.container .content .titleArea p {padding-bottom:11px; border-bottom:1px solid #ccc; color:#999}

.major-list { margin-bottom:50px; border-right:1px solid #e5e5e5; }
.major-list>li { position:relative; display:table-cell; }
.major-list>li:first-child:before { position:absolute; height:100%; top:0; border-left:1px solid #e5e5e5; content:''; }
.major-list>li>a { box-sizing:border-box; display:table-cell; width:1000px; height:40px; text-align:center; vertical-align:middle; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; background-color:#f7f7f7; }
.major-list>li>a:before,
.major-list>li>a:after { position:absolute; top:0; bottom:0; height:18px; margin:auto; border-left:1px solid #e5e5e5; content:''; }
.major-list>li>a:before { left:0px; }
.major-list>li>a:after { right:-1px; z-index:1; }
.major-list>li>a:hover,
.major-list>li.on>a { z-index:10; border-width:3px 0 0; border-style:solid; border-color:#324184 #e5e5e5 transparent; background-color:#fff; padding-bottom:3px;}
.major-list>li>a:hover:before,
.major-list>li>a:hover:after,
.major-list>li.on>a:before,
.major-list>li.on>a:after { height:100%; border-color:#e5e5e5; }

.major-area { }

/*  first_tab */
.major-area .contab { display:none; }
.major-area .contab.on { display:block; }
.major-area .contab h2 { margin-bottom:10px; font-size:34px; color:#333; font-weight:400; line-height:1; }
.major-area .contab .point {display:inline-block; padding:4px 9px; background:#324184; font-family:"verdana", sans-serif; font-size:12px; color:#fff;}
.major-area .contab .txt {font-size:24px; color:#333; font-weight:300; padding-top:11px; font-weight:300; }
.major-area .contab .txt b { font-weight:400;}
.major-area .contab p.line {width:58%; height:1px; background:url(../images/sub7-1/point.jpg) 270px bottom repeat-x;}
.major-area .contab p.majorImg {margin:21px auto 0;}
.major-area .contab ul li.conlist {}
.major-area .contab ul li ul li, .container .content .contentArea div.contab ul li dl dt,.container .content .contentArea div.contab ul li dl dd
 font-size:13px; color:#666;}
.major-area .contab ul li ul li.li1-1, .container .content .contentArea div.contab ul li dl dt {}
.major-area .contab ul li dl {position:relative; overflow:hidden; margin-bottom:30px; min-height:30px;}
.major-area .contab ul li dl dt {position:absolute; left:0; top:0;}
.major-area .contab ul li dl dt {width:120px; height:30px; line-height:30px; font-size:13px; color:#fff; background:#324184; text-align:center;}
.major-area .contab ul li dl dd {padding-left:150px}

.major-area .tabMajor1 .major_cont > li {overflow:hidden; margin-top:50px;}
.major-area .tabMajor1 ul li.li1 ul {float:left;}
.major-area .tabMajor1 ul li.li1 img {float:right;}
.major-area .tabMajor1 ul li.li2 ul {float:left; margin-left:30px;}
.major-area .tabMajor1 ul li.li2 ul li {margin-top:30px;}
.major-area .tabMajor1 ul li.li2 ul li:first-child {margin-top:0;}
.major-area .tabMajor1 ul li.li2 img {float:left;}
.major-area .tabMajor1 ul li.li3 div {float:left;}
.major-area .tabMajor1 ul li.li3 img {float:right;}

.major-area .tabMajor2 { display:none;}
.major-area .tabMajor2 .major_cont > li {overflow:hidden; margin-top:50px;}
.major-area .tabMajor2 ul li.li1 ul {float:left;}
.major-area .tabMajor2 ul li.li1 img {float:right;}
.major-area .tabMajor2 ul li.li2 ul {float:left; margin-left:30px;}
.major-area .tabMajor2 ul li.li2 ul li {margin-top:30px;}
.major-area .tabMajor2 ul li.li2 ul li:first-child {margin-top:0;}
.major-area .tabMajor2 ul li.li2 img {float:left;}
.major-area .tabMajor2 ul li.li3 div {float:left;}
.major-area .tabMajor2 ul li.li3 img {float:right;}

.major-area .tabMajor3 { display:none;}
.major-area .tabMajor3 .major_cont > li {overflow:hidden; margin-top:50px;}
.major-area .tabMajor3 ul li.li1 ul {float:left;}
.major-area .tabMajor3 ul li.li1 img {float:right;}
.major-area .tabMajor3 ul li.li2 ul {float:left; margin-left:30px;}
.major-area .tabMajor3 ul li.li2 ul li {margin-top:30px;}
.major-area .tabMajor3 ul li.li2 ul li:first-child {margin-top:0;}
.major-area .tabMajor3 ul li.li2 img {float:left;}
.major-area .tabMajor3 ul li.li3 div {float:left;}
.major-area .tabMajor3 ul li.li3 img {float:right;}

.major-area .tabMajor4 { display:none;}
.major-area .tabMajor4 .major_cont > li {overflow:hidden; margin-top:50px;}
.major-area .tabMajor4 ul li.li1 ul {float:left;}
.major-area .tabMajor4 ul li.li1 img {float:right;}
.major-area .tabMajor4 ul li.li2 ul {float:left; margin-left:30px;}
.major-area .tabMajor4 ul li.li2 ul li {margin-top:30px;}
.major-area .tabMajor4 ul li.li2 ul li:first-child {margin-top:0;}
.major-area .tabMajor4 ul li.li2 img {float:left;}
.major-area .tabMajor4 ul li.li3 div {float:left;}
.major-area .tabMajor4 ul li.li3 img {float:right;}

.major-area .tabMajor5 { display:none;}
.major-area .tabMajor5 .major_cont > li {overflow:hidden; margin-top:50px;}
.major-area .tabMajor5 ul li.li1 ul {float:left;}
.major-area .tabMajor5 ul li.li1 img {float:right;}
.major-area .tabMajor5 ul li.li2 ul {float:left; margin-left:30px;}
.major-area .tabMajor5 ul li.li2 ul li {margin-top:30px;}
.major-area .tabMajor5 ul li.li2 ul li:first-child {margin-top:0;}
.major-area .tabMajor5 ul li.li2 img {float:left;}
.major-area .tabMajor5 ul li.li3 div {float:left;}
.major-area .tabMajor5 ul li.li3 img {float:right;}

li.li1.conlist  {font-weight: bold;}
