/* container 영역*/
/*
.contentMainimg p {
  position:absolute;
  left:50%;
  top:50px;
  width:326px;
  font-size:24px;
  font-family:'Nanum Gothic', '나눔고딕', sans-serif;
  color:#1b8382;
  letter-spacing:-0.1em;
}
*/

.contentMainimg p {width:960px; margin:0 auto; font-size:24px; color:#324184; letter-spacing:-1px; padding-top:58px; font-weight:300;}
.contentMainimg p span {font-size:36px; font-weight:700; display:block; padding-top:5px;}